*, html {
    padding: 0px;
    margin: 0px;
}
body{
    box-sizing: border-box;
    background: white;
}

@media only screen and (max-width: 768px){
    .desktop{
        display: none;
    }

    
}